article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}

.site-header {
  text-align: center;
  font-size: 4.5em;
  font-family: "Georgia";
  font-weight: normal;
  margin-bottom: 0px;
}

.content {
  text-align: center;
}

.great-body {
  font-family: 'PT Sans', sans-serif;
}

.great-table {
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 40px;
  border-spacing: 10px;
}

.percentile {
  text-align: left;
}

.course {
  text-decoration: underline;
  text-align: right;
}

.grade-a {
  color: #73CE68;
}

.grade-b {
  color: #5395E2;
}

.grade-c {
  color: #F0A72F;
}

.grade-d {
  color: #EA5567;
}

.great-link {
  color: black;
}

.great-link:hover {
  color: #666;
}

body {
  padding: 0px;
  margin: 0px;
}

.footer-right {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 100%;
  text-align: right;
}

.footer-link {
  color: #CCC;
  text-decoration: none;
}

.footer-link:hover {
  color: #333;
}
